@font-face {
    font-family: 'Work Sans', sans-serif;
    src: url("application/fonts/WorkSans-Medium.ttf");
}

.label {
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-font-size: 20;
}
.text-field {
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-font-size: 20;
}

.password-field {
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-font-size: 20;
}

